@import "./variables";

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin-bottom: 2em;
  .logo {
    margin-top: 1.5em;
    margin-left: 2em;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .menuClosed {
    background-color: transparent !important;
    backdrop-filter: none !important;
  }
  .menu {
    z-index: 10000;
    width: 250px;
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
    display: flex;
    justify-content: flex-end;
    font-family: $ffSecondary;
    font-size: 16px;
    .toggle {
      margin: 2em;
      align-self: flex-end;
    }
    .tabletNav {
      display: flex;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-inline: 2em;
      width: 450px;
      list-style-type: none;
      color: $clr-neutral-100;
      gap: 2em;
      background-color: hsla(0, 0%, 100%, 0.1);
      backdrop-filter: blur(1rem);

      a {
        margin-left: 20px;
        color: $clr-neutral-100;
        text-decoration: none;
        display: flex;
        gap: 1em;
        font-weight: 400;
        position: relative;
        span {
          display: none;
          font-weight: 700;
        }
      }
      .active {
        &::after {
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          bottom: -20px;
          background-color: $clr-neutral-100;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .tabletNav {
    display: none !important;
  }
}

@media (min-width: 1000px) {
  nav {
    height: 96px;
    align-items: center;
    .menu {
      ul {
        width: 830px;
        margin-top: 1.5em;
        height: 96px;
        position: relative;
        a {
          span {
            display: flex !important;
          }
          &:hover::after {
            content: "";
            width: 100%;
            height: 3px;
            opacity: 0.2;
            position: absolute;
            bottom: -38px;
            background-color: $clr-neutral-100;
          }
        }
        &::after {
          content: "";
          position: absolute;
          background-color: white;
          opacity: 0.2;
          height: 1px;
          width: 60%;
          left: -55%;
        }
        .active {
          &::after {
            bottom: -38px;
          }
        }
      }
    }
  }
}
