.container {
  background-image: url("../../assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 768px) {
  .container {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  }
}
